* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,2,240,1) 47%, rgba(0,212,255,1) 100%);
    text-align: center;
    color: #f2f2f2;
}

.__container {
    display: flex;
    align-items: center;
    justify-content: center;
 
    
}

.__card {
    background-color: #f2f2f2;
    border-radius: 1rem;
    width: 50rem;
    height: 30rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

#pictureForm {
    display: flex;
    flex-direction: column;
}
